<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOpcService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="OpcNamedPipes" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="OpcTCP" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8735/Runtime/Magma.WCF.Services.Opc/OpcService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOpcService"
                contract="OPCTester_Service.IOpcService" name="BasicHttpBinding_IOpcService" />
            <endpoint address="net.tcp://localhost:8736/Runtime/Magma.WCF.Services.Opc/OpcService/"
                binding="netTcpBinding" bindingConfiguration="OpcTCP" contract="OPCTester_Service.IOpcService"
                name="OpcTCP">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Runtime/Magma.WCF.Services.Opc/OpcService/"
                binding="netNamedPipeBinding" bindingConfiguration="OpcNamedPipes"
                contract="OPCTester_Service.IOpcService" name="OpcNamedPipes">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>