<?xml version="1.0"?>
<configuration>
	<!-- ********************************************************************************************************** -->
	<configSections>
		<sectionGroup name="Application">
			<section name="Settings" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="StepsDescription" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ColumnNameSubstitution" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="Database">
			<section name="Settings" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="Messages">
			<section name="ID_1" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_2" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_3" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_4" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_5" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_6" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_7" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_8" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_9" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_10" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_11" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_12" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_13" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_14" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_15" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_16" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="BaseTables">
			<section name="General" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="Group_1" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="Group_2" type="System.Configuration.NameValueSectionHandler, System"/> 
		</sectionGroup>
	</configSections>
	<!-- ********************************************************************************************************** -->
	<Application>
		<Settings>
			<add key="Debug" value="False"/>
			<add key="LogFileName" value="BudgetDimonaLog"/>
			<add key="log" value="log"/>
			<add key="ActiveCoefficientYear" value="0"/>
		</Settings>
		<StepsDescription>
			<add key="Step1" value="Step 1 - Input File Selection"/>
			<add key="Step2" value="Step 2 - Processing Part Numbers"/>
			<add key="Step3" value="Step 3 - Unrecognized Part Numbers"/>
			<add key="Step4" value="Step 4 - Searching Layout Information"/>
			<add key="Step5" value="Step 5 - Unmatched Layout Part Numbers"/>
			<add key="Step6" value="Step 6 - Getting Extra Data"/>
			<add key="Step7" value="Step 7 - Exporting Processed Data"/>
		</StepsDescription>
		<ColumnNameSubstitution>
			<add key="vchVishayPN" value="Part No."/>
			<add key="vchFamily" value="Family"/>
			<add key="vchCase" value="Case"/>
			<add key="vchCap" value="Cap"/>
			<add key="vchVoltage" value="Voltage"/>
			<add key="vchDetailSpec" value="Spec"/>
			<add key="vchLevelCode" value="Level"/>
			<add key="vchLayoutSearchFamily" value="Layout Family"/>
			<add key="vchLayoutSearchCase" value="Layout Case"/>
			<add key="vchLayoutSearchLevel" value="Layout Level"/>
			<add key="intLayuotSearchAlgorithm" value="Layout Algorithm"/>
			<add key="bitIgnore" value="Ignore Row"/>
		</ColumnNameSubstitution>
	</Application>
	<!-- ********************************************************************************************************** -->
	<Database>
		<Settings>
			<!--<add key="ConnectionString" value="Data Source=ASSEMBLYSRV;Initial Catalog=Teva_Jerusalem_Messages;" />
      <add key="ServerName" value="ASSEMBLYSRV" />-->
			<add key="ServerName" value=".\SQLEXPRESS"/>
			<add key="Database" value="EOL_Azure"/>
			<add key="UserID" value="sa"/>
			<add key="Password" value="mwtkfUgf9p4bw3gG8FH1EA=="/>
			<!--
			<add key="ConnectionString" value="Data Source=LAP5;Initial Catalog=BudgetDimonaDB" />
			<add key="ServerName" value="LAP5" />
		 -->
			<!--
			<add key="ConnectionString" value="Data Source=DIM-SQL;Initial Catalog=BudgetDimonaDB" />
			<add key="ServerName" value="DIM-SQL" />
		-->
			<!--
    
			<add key="UserID" value="sql_link" />
			<add key="Password" value="53UjY94cnoXVB2IR6OaRXA==" />
			<add key="BaseTablesUserID" value="Admin" />
			<add key="BaseTablesPassword" value="dUadLw8z7KavsaRsTocoAA==" />
 -->
		</Settings>
	</Database>
	<!-- ********************************************************************************************************** -->
	<BaseTables>
		<General>
			<add key="NoOfGroup" value="2"/>
		</General>
    <Group_1>
      <add key="Group_Name" value="Users"/>
      <add key="NoOfTables" value="2"/>
      <!-- Table number 1 -->
      <add key="Table_1_Text" value="EOL Users"/>
      <add key="Table_1_Name" value="Users_Ta"/>
      <add key="Table_1_SP" value="BT_Users_Sp"/>
      <add key="Table_1_Keys" value="0"/>
      <add key="Table_1_Col_0_Caption" value="User ID"/>
      <add key="Table_1_Col_1_Caption" value="Email Address"/>
      <add key="Table_1_Col_2_Caption" value="Password"/>
      <add key="Table_1_Col_3_Caption" value="First Name"/>
      <add key="Table_1_Col_4_Caption" value="Last Name"/>
      <add key="Table_1_Col_5_Caption" value="Organization ID"/>
      <add key="Table_1_Col_6_Caption" value="Focal User"/>
      <add key="Table_1_Col_7_Caption" value="Active"/>
      <add key="Table_1_Col_0_Hide" value="True"/>
      <add key="Table_1_Col_2_Hide" value="True"/>
      <add key="Table_1_Col_5_Hide" value="True"/>
      <add key="Table_1_AutoFitColumns" value="1"/>

      <!-- Table number 2 -->
      <add key="Table_2_Text" value="Role to Users"/>
      <add key="Table_2_Name" value="RoleToUser_Ta"/>
      <add key="Table_2_SP" value="BT_RoleToUser_Sp"/>
      <add key="Table_2_Keys" value="0,1"/>
      <add key="Table_2_Col_0_Caption" value="Employee Name"/>
      <add key="Table_2_Col_0_ComboID" value="2"/>
      <!-- List of all Employee -->
      <add key="Table_2_Col_1_Caption" value="Role Name"/>
      <add key="Table_2_Col_1_ComboID" value="1"/>
      <!-- List of all Roles -->
      <add key="Table_2_AutoFitColumns" value="1"/>

    </Group_1>

    <Group_2>
      <add key="Group_Name" value="Production"/>
      <add key="NoOfTables" value="3"/>
      <!-- Table number 1 -->
      <add key="Table_1_Text" value="Products"/>
      <add key="Table_1_Name" value="Products_Ta"/>
      <add key="Table_1_SP" value="BT_Products_Sp"/>
      <add key="Table_1_Keys" value="0,1"/>
      <add key="Table_1_Col_0_Caption" value="Organization ID"/>
      <add key="Table_1_Col_1_Caption" value="Product P/N"/>
      <add key="Table_1_Col_2_Caption" value="Product Description"/>
      <add key="Table_1_Col_3_Caption" value="End Of Production"/>
      <add key="Table_1_Col_4_Caption" value="End Of Support"/>
      <add key="Table_1_Col_0_Hide" value="True"/>
      <add key="Table_1_AutoFitColumns" value="1"/>

      <!-- Table number 2 -->
      <add key="Table_2_Text" value="Production Plan"/>
      <add key="Table_2_Name" value="ProductionPlan_Ta"/>
      <add key="Table_2_SP" value="BT_ProductionPlan_Sp"/>
      <add key="Table_2_Keys" value="0,1,2,3"/>
      <add key="Table_2_Col_0_Caption" value="Organization ID"/>
      <add key="Table_2_Col_1_Caption" value="Work Plan Year"/>
      <add key="Table_2_Col_2_Caption" value="Work Plan Month"/>
      <add key="Table_2_Col_3_Caption" value="Product"/>
      <add key="Table_2_Col_3_ComboID" value="3"/>
      <!-- List of Products -->
      <add key="Table_2_Col_4_Caption" value="Number of Products"/>
      <add key="Table_2_Col_0_Hide" value="True"/>
      <add key="Table_2_AutoFitColumns" value="1"/>


      <!-- Table number 3 -->
      <add key="Table_3_Text" value="Product Install base"/>
      <add key="Table_3_Name" value="ProductsInstallBase_Ta"/>
      <add key="Table_3_SP" value="BT_ProductsInstallBase_Sp"/>
      <add key="Table_3_Keys" value="0,1,2"/>
      <add key="Table_3_Col_0_Caption" value="Otganization ID"/>
      <add key="Table_3_Col_1_Caption" value="Product"/>
      <add key="Table_3_Col_2_Caption" value="Year"/>
      <add key="Table_3_Col_3_Caption" value="Install base"/>
      <add key="Table_3_Col_1_ComboID" value="3"/>
      <!-- List of Products -->
      <add key="Table_3_Col_0_Hide" value="True"/>
      <add key="Table_3_AutoFitColumns" value="1"/>

    </Group_2>


    <!--<Group_2>
      <add key="Group_Name" value="Group2" />
      <add key="NoOfTables" value="1" />

      <add key="Table_1_Text" value="Teva jerusalem Messages" />
      <add key="Table_1_Name" value="Users_Ta" />
      <add key="Table_1_SP" value="BT_Users_Sp" />
      
    </Group_2>-->
		<!--<Group_1>
			<add key="Group_Name" value="Substitutions" />
			<add key="NoOfTables" value="18" />
			-->
		<!-- Table number 1 -->
		<!--
			<add key="Table_1_Text" value="Aquadag" />
			<add key="Table_1_Name" value="Aquadag_Ta" />
			<add key="Table_1_SP" value="BT_Aquadag_Sp" />
			<add key="Table_1_Keys" value="0,1" />
			<add key="Table_1_Col_0_Caption" value="Code" />
			<add key="Table_1_Col_1_Caption" value="Step" />
			<add key="Table_1_Col_2_Caption" value="Dip To" />
			<add key="Table_1_Col_3_Caption" value="Dip For" />
			<add key="Table_1_Col_4_Caption" value="Blot" />
			<add key="Table_1_Col_5_Caption" value="Dry Temp" />
      <add key="Table_1_Col_6_Caption" value="Dry Time" />
      -->
		<!-- 
     AutoFitColumns can get 3 possible values:
     AutoFitStyle.None = 0
     AutoFitStyle.ResizeAllColumns = 1
     AutoFitStyle.ExtendLastColumn = 2
     -->
		<!--
			<add key="Table_1_AutoFitColumns" value="1" />
			-->
		<!-- Table number 2 -->
		<!--
			<add key="Table_2_Text" value="Automotive" />
			<add key="Table_2_Name" value="Automotive_Ta" />
			<add key="Table_2_SP" value="BT_Automotive_Sp" />
			<add key="Table_2_Keys" value="0,1" />
			<add key="Table_2_Col_0_Caption" value="Family" />
			<add key="Table_2_Col_1_Caption" value="Detail Spec" />
			<add key="Table_2_Col_2_Caption" value="Special Remark" />
			<add key="Table_2_AutoFitColumns" value="1" />
      -->
		<!-- Table number 3 -->
		<!--
      <add key="Table_3_Text" value="Binder" />
      <add key="Table_3_Name" value="Binder_Ta" />
      <add key="Table_3_SP" value="BT_Binder_Sp" />
      <add key="Table_3_Keys" value="0" />
      <add key="Table_3_Col_0_Caption" value="Binder code" />
      <add key="Table_3_Col_1_Caption" value="Binder removal TEMP" />
      <add key="Table_3_Col_2_Caption" value="Binder removal TIME" />
      <add key="Table_3_Col_3_Caption" value="Description" />
      <add key="Table_3_Col_4_Caption" value="EPA IN EFFECT" />
      <add key="Table_3_Col_5_Caption" value="EPA EXPIRES" />
      <add key="Table_3_Col_6_Caption" value="ER LAST CHANGE" />
      <add key="Table_3_AutoFitColumns" value="1" />
      -->
		<!-- Table number 4 -->
		<!--
			<add key="Table_4_Text" value="Coating" />
			<add key="Table_4_Name" value="Coating_Ta" />
			<add key="Table_4_SP" value="BT_Coating_Sp" />
			<add key="Table_4_Keys" value="0,1" />
			<add key="Table_4_Col_0_Caption" value="Coating" />
			<add key="Table_4_Col_1_Caption" value="StepNo" />
      <add key="Table_4_Col_2_Caption" value="Step Name" />
      <add key="Table_4_Col_3_Caption" value="Step" />
      <add key="Table_4_Col_4_Caption" value="Dip Type" />
      <add key="Table_4_Col_5_Caption" value="Teflon Type" />
      <add key="Table_4_Col_6_Caption" value="Inspec Type" />
      <add key="Table_4_Col_7_Caption" value="Dip Height" />
      <add key="Table_4_Col_8_Caption" value="Dip Time" />
      <add key="Table_4_Col_9_Caption" value="Blot" />
      <add key="Table_4_Col_10_Caption" value="Dry Type" />
      <add key="Table_4_Col_11_Caption" value="Dry Temp" />
      <add key="Table_4_Col_12_Caption" value="DryTime" />
      <add key="Table_4_Col_13_Caption" value="Inspect High" />
      <add key="Table_4_Col_14_Caption" value="Inspect Low" />
      <add key="Table_4_Col_15_Caption" value="EPA" />
      <add key="Table_4_Col_16_Caption" value="Expires" />
      <add key="Table_4_Col_17_Caption" value="Last ER" />
      <add key="Table_4_AutoFitColumns" value="1" />
      -->
		<!-- Table number 5 -->
		<!--
      <add key="Table_5_Text" value="Depoinsp" />
      <add key="Table_5_Name" value="Depoinsp_Ta" />
      <add key="Table_5_SP" value="BT_Depoinsp_Sp" />
      <add key="Table_5_Keys" value="0,1,2" />
      <add key="Table_5_Col_0_Caption" value="Family" />
      <add key="Table_5_Col_1_Caption" value="Case" />
      <add key="Table_5_Col_2_Caption" value="Pellet" />
      <add key="Table_5_Col_3_Caption" value="Minimum" />
      <add key="Table_5_Col_4_Caption" value="Maximum" />
      <add key="Table_5_Col_5_Caption" value="Last ER Change" />
      <add key="Table_5_AutoFitColumns" value="1" />
      -->
		<!-- Table number 6 -->
		<!--
			<add key="Table_6_Text" value="Elec" />
			<add key="Table_6_Name" value="Elec_Ta" />
			<add key="Table_6_SP" value="BT_Elec_Sp" />
			<add key="Table_6_Keys" value="0" />
			<add key="Table_6_Col_0_Caption" value="Form Elec" />
			<add key="Table_6_Col_1_Caption" value="V_min" />
			<add key="Table_6_Col_2_Caption" value="V_max" />
      <add key="Table_6_Col_3_Caption" value="Form Description" />
      <add key="Table_6_Col_4_Caption" value="Conduct Upper" />
      <add key="Table_6_Col_5_Caption" value="Conduct Lower" />
      <add key="Table_6_Col_6_Caption" value="Temp Upper" />
      <add key="Table_6_Col_7_Caption" value="Temp Lower" />
      <add key="Table_6_Col_8_Caption" value="Rinse Temp" />
      <add key="Table_6_Col_9_Caption" value="I_max" />
			<add key="Table_6_AutoFitColumns" value="1" />
      -->
		<!-- Table number 7 -->
		<!--
      <add key="Table_7_Text" value="Employee" />
      <add key="Table_7_Name" value="Employee_Ta" />
      <add key="Table_7_SP" value="BT_Employee_Sp" />
      <add key="Table_7_Keys" value="0" />
      <add key="Table_7_Col_0_Caption" value="Employee No" />
      <add key="Table_7_Col_1_Caption" value="Authorization Type" />
      <add key="Table_7_Col_2_Caption" value="First Name" />
      <add key="Table_7_Col_3_Caption" value="Last Name" />
      <add key="Table_7_Col_4_Caption" value="Password" />
      <add key="Table_7_AutoFitColumns" value="1" />
      -->
		<!-- Table number 8 -->
		<!--
      <add key="Table_8_Text" value="Group" />
      <add key="Table_8_Name" value="Group_Ta" />
      <add key="Table_8_SP" value="BT_Group_Sp" />
      <add key="Table_8_Keys" value="0" />
      <add key="Table_8_Col_0_Caption" value="Powder" />
      <add key="Table_8_Col_1_Caption" value="Powder Group" />
      <add key="Table_8_Col_2_Caption" value="Oxide Lower Limit" />
      <add key="Table_8_AutoFitColumns" value="1" />
      -->
		<!-- Table number 9 -->
		<!--
      <add key="Table_9_Text" value="Layout" />
      <add key="Table_9_Name" value="Layout_Ta" />
      <add key="Table_9_SP" value="BT_Layout_Sp" />
      <add key="Table_9_Keys" value="0,1,2,3,4,5,6,7" />
      <add key="Table_9_Col_0_Caption" value="Family" />
      <add key="Table_9_Col_1_Caption" value="Rating" />
      <add key="Table_9_Col_2_Caption" value="Case" />
      <add key="Table_9_Col_3_Caption" value="Level" />
      <add key="Table_9_Col_4_Caption" value="Detail" />
      <add key="Table_9_Col_5_Caption" value="Powder Group" />
      <add key="Table_9_Col_6_Caption" value="Powder" />
      <add key="Table_9_Col_7_Caption" value="Pellet" />
      <add key="Table_9_Col_8_Caption" value="E Field" />
      <add key="Table_9_Col_9_Caption" value="LotSize" />
      <add key="Table_9_Col_10_Caption" value="CapCode" />
      <add key="Table_9_Col_11_Caption" value="Volt Code" />
      <add key="Table_9_Col_12_Caption" value="Cap Rating" />
      <add key="Table_9_Col_13_Caption" value="Volt Rating" />
      <add key="Table_9_Col_14_Caption" value="Pellets Per Bar" />
      <add key="Table_9_Col_15_Caption" value="Teflon" />
      <add key="Table_9_Col_16_Caption" value="Wet Check Voltage" />
      <add key="Table_9_Col_17_Caption" value="Min Wet Check Cap" />
      <add key="Table_9_Col_18_Caption" value="VC" />
      <add key="Table_9_Col_19_Caption" value="Min Form Volt" />
      <add key="Table_9_Col_20_Caption" value="Max Form Volt" />
      <add key="Table_9_Col_21_Caption" value="rel CD" />
      <add key="Table_9_Col_22_Caption" value="Target Cap" />
      <add key="Table_9_Col_23_Caption" value="Min CF" />
      <add key="Table_9_Col_24_Caption" value="Max CF" />
      <add key="Table_9_Col_25_Caption" value="Form Elec" />
      <add key="Table_9_Col_26_Caption" value="Ratio Form 2" />
      <add key="Table_9_Col_27_Caption" value="Form Elec 2" />
      <add key="Table_9_Col_28_Caption" value="Rinse Time" />
      <add key="Table_9_Col_29_Caption" value="Dry Temp" />
      <add key="Table_9_Col_30_Caption" value="Dry Time" />
      <add key="Table_9_Col_31_Caption" value="Hold" />
      <add key="Table_9_Col_32_Caption" value="Hold2" />
      <add key="Table_9_Col_33_Caption" value="MFA Temp" />
      <add key="Table_9_Col_34_Caption" value="Coating" />
      <add key="Table_9_Col_35_Caption" value="Tolerance Group" />
      <add key="Table_9_Col_36_Caption" value="Reform1 V" />
      <add key="Table_9_Col_37_Caption" value="Reform2_V" />
      <add key="Table_9_Col_38_Caption" value="Reform3_V" />
      <add key="Table_9_Col_39_Caption" value="Reform4 V" />
      <add key="Table_9_Col_40_Caption" value="Reform5_V" />
      <add key="Table_9_Col_41_Caption" value="Reform6_V" />
      <add key="Table_9_Col_42_Caption" value="Reform7 V" />
      <add key="Table_9_Col_43_Caption" value="Reform Elec" />
      <add key="Table_9_Col_44_Caption" value="Rinse Time" />
      <add key="Table_9_Col_45_Caption" value="Oxide Treat" />
      <add key="Table_9_Col_46_Caption" value="Aquadag Place" />
      <add key="Table_9_Col_47_Caption" value="Final Reform_V" />
      <add key="Table_9_Col_48_Caption" value="S_M" />
      <add key="Table_9_Col_49_Caption" value="Silver Type" />
      <add key="Table_9_Col_50_Caption" value="No Of Dips" />
      <add key="Table_9_Col_51_Caption" value="My lar Age" />
      <add key="Table_9_Col_52_Caption" value="TEPA" />
      <add key="Table_9_Col_53_Caption" value="TEPA_Constant" />
      <add key="Table_9_Col_54_Caption" value="Expires" />
      <add key="Table_9_Col_55_Caption" value="Date Last Change" />
      <add key="Table_9_Col_56_Caption" value="ECN Last Change" />
      <add key="Table_9_Col_57_Caption" value="Design Review#" />
      <add key="Table_9_Col_58_Caption" value="Remarks" />
      <add key="Table_9_Col_59_Caption" value="SpecialLimits" />
      <add key="Table_9_Col_60_Caption" value="125C_Age" />
      <add key="Table_9_Col_61_Caption" value="Customer" />
      <add key="Table_9_Col_62_Caption" value="Alt Binder" />
      <add key="Table_9_Col_63_Caption" value="VC Raised" />
      <add key="Table_9_AutoFitColumns" value="1" />
      -->
		<!-- Table number 10 -->
		<!--
      <add key="Table_10_Text" value="Lookup" />
      <add key="Table_10_Name" value="Lookup_Ta" />
      <add key="Table_10_SP" value="BT_Lookup_Sp" />
      <add key="Table_10_Keys" value="0" />
      <add key="Table_10_Col_0_Caption" value="Family" />
      <add key="Table_10_Col_1_Caption" value="Look Up Family" />
      <add key="Table_10_Col_2_Caption" value="Family To Print" />
      <add key="Table_10_AutoFitColumns" value="1" />
      -->
		<!-- Table number 11 -->
		<!--
      <add key="Table_11_Text" value="LookUpLevel" />
      <add key="Table_11_Name" value="LookUpLevel_Ta" />
      <add key="Table_11_SP" value="BT_LookUpLevel_Sp" />
      <add key="Table_11_Keys" value="0,1,2" />
      <add key="Table_11_Col_0_Caption" value="Family" />
      <add key="Table_11_Col_1_Caption" value="Vims Level" />
      <add key="Table_11_Col_2_Caption" value="Layout Level" />
      <add key="Table_11_AutoFitColumns" value="1" />
      -->
		<!-- Table number 12 -->
		<!--
      <add key="Table_12_Text" value="LookupTolerance" />
      <add key="Table_12_Name" value="LookupTolerance_Ta" />
      <add key="Table_12_SP" value="BT_LookupTolerance_Sp" />
      <add key="Table_12_Keys" value="0" />
      <add key="Table_12_Col_0_Caption" value="Vims Tolerance Code" />
      <add key="Table_12_Col_1_Caption" value="Alt Tolerance Code" />
      <add key="Table_12_AutoFitColumns" value="1" />
      -->
		<!-- Table number 13 -->
		<!--
      <add key="Table_13_Text" value="Mylar" />
      <add key="Table_13_Name" value="Mylar_Ta" />
      <add key="Table_13_SP" value="BT_Mylar_Sp" />
      <add key="Table_13_Keys" value="0" />
      <add key="Table_13_Col_0_Caption" value="Code" />
      <add key="Table_13_Col_1_Caption" value="ATM" />
      <add key="Table_13_Col_2_Caption" value="Volt1" />
      <add key="Table_13_Col_3_Caption" value="Temp1" />
      <add key="Table_13_Col_4_Caption" value="Time1" />
      <add key="Table_13_Col_5_Caption" value="Volt2" />
      <add key="Table_13_Col_6_Caption" value="Temp2" />
      <add key="Table_13_Col_7_Caption" value="Time2" />
      <add key="Table_13_Col_8_Caption" value="Volt3" />
      <add key="Table_13_Col_9_Caption" value="Temp3" />
      <add key="Table_13_Col_10_Caption" value="Time3" />
      <add key="Table_13_Col_11_Caption" value="Pulse_1" />
      <add key="Table_13_Col_12_Caption" value="Charge_1" />
      <add key="Table_13_Col_13_Caption" value="Discharge_1" />
      <add key="Table_13_Col_14_Caption" value="Pulse_2" />
      <add key="Table_13_Col_15_Caption" value="Charge_2" />
      <add key="Table_13_Col_16_Caption" value="Discharge_2" />
      <add key="Table_13_Col_17_Caption" value="Pulse_3" />
      <add key="Table_13_Col_18_Caption" value="Charge_3" />
      <add key="Table_13_Col_19_Caption" value="Discharge_3" />
      <add key="Table_13_AutoFitColumns" value="1" />
       -->
		<!-- Table number 14-->
		<!--
      <add key="Table_14_Text" value="Oxide" />
      <add key="Table_14_Name" value="Oxide_Ta" />
      <add key="Table_14_SP" value="BT_Oxide_Sp" />
      <add key="Table_14_Keys" value="0" />
      <add key="Table_14_Col_0_Caption" value="Condition" />
      <add key="Table_14_Col_1_Caption" value="Current mA Bar" />
      <add key="Table_14_Col_2_Caption" value="Warmup sec" />
      <add key="Table_14_Col_3_Caption" value="RunTime min" />
      <add key="Table_14_AutoFitColumns" value="1" />
      -->
		<!-- Table number 15-->
		<!--
      <add key="Table_15_Text" value="Pellet" />
      <add key="Table_15_Name" value="Pellet_Ta" />
      <add key="Table_15_SP" value="BT_Pellet_Sp" />
      <add key="Table_15_Keys" value="0" />
      <add key="Table_15_Col_0_Caption" value="Operation" />
      <add key="Table_15_Col_1_Caption" value="Pellet" />
      <add key="Table_15_Col_2_Caption" value="Specific Card" />
      <add key="Table_15_Col_3_Caption" value="Drawing" />
      <add key="Table_15_Col_4_Caption" value="Pressed_LEN_in" />
      <add key="Table_15_Col_5_Caption" value="Length_CORR_in" />
      <add key="Table_15_Col_6_Caption" value="Pressed_WT_g" />
      <add key="Table_15_Col_7_Caption" value="Pressed_DENS_g_cc" />
      <add key="Table_15_Col_8_Caption" value="Diameter1" />
      <add key="Table_15_Col_9_Caption" value="Diameter2" />
      <add key="Table_15_Col_10_Caption" value="LotSize" />
      <add key="Table_15_Col_11_Caption" value="Delube Screens" />
      <add key="Table_15_Col_12_Caption" value="Sinter 1 LOAD" />
      <add key="Table_15_Col_13_Caption" value="Sinter 1 Notes" />
      <add key="Table_15_Col_14_Caption" value="Sinter 1 Temp" />
      <add key="Table_15_Col_15_Caption" value="Sinter 1 Time" />
      <add key="Table_15_Col_16_Caption" value="Sinter 2 LOAD" />
      <add key="Table_15_Col_17_Caption" value="Sinter 2 Notes" />
      <add key="Table_15_Col_18_Caption" value="Sinter 2 Temp" />
      <add key="Table_15_Col_19_Caption" value="Sinter 2 Time" />
      <add key="Table_15_Col_20_Caption" value="Wire Length" />
      <add key="Table_15_Col_21_Caption" value="Wire Type" />
      <add key="Table_15_Col_22_Caption" value="Wire Face" />
      <add key="Table_15_Col_23_Caption" value="WC Volts" />
      <add key="Table_15_Col_24_Caption" value="Pellets Per Bar" />
      <add key="Table_15_Col_25_Caption" value="WC CD" />
      <add key="Table_15_Col_26_Caption" value="WC Cap" />
      <add key="Table_15_Col_27_Caption" value="WC DF Max" />
      <add key="Table_15_Col_28_Caption" value="WC IL Max" />
      <add key="Table_15_Col_29_Caption" value="ER Last CHG" />
      <add key="Table_15_Col_30_Caption" value="Date Last Change" />
      <add key="Table_15_Col_31_Caption" value="Date Last Used" />
      <add key="Table_15_Col_32_Caption" value="EPA InEffect" />
      <add key="Table_15_Col_33_Caption" value="Manufactoring Notes" />
      <add key="Table_15_Col_34_Caption" value="Remarks" />
      <add key="Table_15_Col_35_Caption" value="Original Pellet" />
      <add key="Table_15_Col_36_Caption" value="Alt Powder" />
      <add key="Table_15_Col_37_Caption" value="Alt Binder" />
      <add key="Table_15_AutoFitColumns" value="1" />
      -->
		<!-- Table number 16 -->
		<!--
      <add key="Table_16_Text" value="RF_Elec" />
      <add key="Table_16_Name" value="RF_Elec_Ta" />
      <add key="Table_16_SP" value="BT_RF_Elec_Sp" />
      <add key="Table_16_Keys" value="0" />
      <add key="Table_16_Col_0_Caption" value="RF_Elec" />
      <add key="Table_16_Col_1_Caption" value="Description" />
      <add key="Table_16_Col_2_Caption" value="Conduct Upper" />
      <add key="Table_16_Col_3_Caption" value="Conduct Lower" />
      <add key="Table_16_Col_4_Caption" value="Temp Upper" />
      <add key="Table_16_Col_5_Caption" value="Temp Lower" />
      <add key="Table_16_Col_6_Caption" value="Hold Time" />
      <add key="Table_16_Col_7_Caption" value="Rinse Temp" />
      <add key="Table_16_Col_8_Caption" value="Volt3" />
      <add key="Table_16_Col_9_Caption" value="Dry Temp" />
      <add key="Table_16_Col_10_Caption" value="Dry Time" />
      <add key="Table_16_AutoFitColumns" value="1" />
      -->
		<!-- Table number 17 -->
		<!--
      <add key="Table_17_Text" value="Silver" />
      <add key="Table_17_Name" value="Silver_Ta" />
      <add key="Table_17_SP" value="BT_Silver_Sp" />
      <add key="Table_17_Keys" value="0" />
      <add key="Table_17_Col_0_Caption" value="Silver Code" />
      <add key="Table_17_Col_1_Caption" value="Silver Description" />
      <add key="Table_17_Col_2_Caption" value="Air Dry Time" />
      <add key="Table_17_Col_3_Caption" value="CureTime1" />
      <add key="Table_17_Col_4_Caption" value="CureTemp1" />
      <add key="Table_17_Col_5_Caption" value="CureTime2" />
      <add key="Table_17_Col_6_Caption" value="CureTemp2" />
      <add key="Table_17_AutoFitColumns" value="1" />
      -->
		<!-- Table number 18 -->
		<!--
      <add key="Table_18_Text" value="Tol_Tab" />
      <add key="Table_18_Name" value="Tol_Tab_Ta" />
      <add key="Table_18_SP" value="BT_Tol_Spb_Sp" />
      <add key="Table_18_Keys" value="0,1" />
      <add key="Table_18_Col_0_Caption" value="Tolerance Group" />
      <add key="Table_18_Col_1_Caption" value="Cap Tol" />
      <add key="Table_18_Col_2_Caption" value="Cap Tol Desc" />
      <add key="Table_18_Col_3_Caption" value="Cap Tol Lower" />
      <add key="Table_18_Col_4_Caption" value="Cap Tol Upper" />
      <add key="Table_18_Col_5_Caption" value="Form Tol Lower" />
      <add key="Table_18_Col_6_Caption" value="Form Tol Upper" />
      <add key="Table_18_Col_7_Caption" value="Form Target" />
      <add key="Table_18_AutoFitColumns" value="1" />
      
    </Group_1>-->
	</BaseTables>
	<!-- ********************************************************************************************************** -->
	<!-- &#xD; carriage return in XML -->
	<Messages>
		<ID_1>
			<add key="MessageText" value="You must fill in the user name in order to login"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_1>
		<ID_2>
			<add key="MessageText" value="You must fill in the password in order to login"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_2>
		<ID_3>
			<add key="MessageText" value="The login imfomation you provided is invalid, please try again."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_3>
		<ID_5>
			<add key="MessageText" value="The changes has been successfully saved to the database"/>
			<add key="MessageType" value="64"/>
			<add key="MessageTitle" value="Save notice"/>
		</ID_5>
		<ID_6>
			<add key="MessageText" value="There was an unexpected error on the saving process, some or all data was not saved to the database"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Save Error"/>
		</ID_6>
		<ID_7>
			<add key="MessageText" value="The information in the table was changed, do you wish to save the data?"/>
			<add key="MessageType" value="292"/>
			<add key="MessageTitle" value="Saving Confirmation"/>
		</ID_7>
		<ID_8>
			<add key="MessageText" value="Could not connect to the database server, please contact your system administrator"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_8>
		<ID_10>
			<add key="MessageText" value="Are you sure that you want to exit the application?"/>
			<add key="MessageType" value="292"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_10>
		<ID_11>
			<add key="MessageText" value="No input file selected, please select a valid input file"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_11>
		<ID_12>
			<add key="MessageText" value="No output file selected, please select a valid output file"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_12>
		<ID_13>
			<add key="MessageText" value="No output information selected, please select at least one output information"/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_13>
		<ID_14>
			<add key="MessageText" value="By going back all disassembled part numbers information will be lost Are you sure?"/>
			<add key="MessageType" value="292"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_14>
		<ID_15>
			<add key="MessageText" value="Some of the part numbers data hasn't been filled.
Please fill the missing data or check the ignore checkbox for this row."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_15>
		<ID_16>
			<add key="MessageText" value="The export operation has been completed successfully"/>
			<add key="MessageType" value="64"/>
			<add key="MessageTitle" value="Dimona Budget Calculations"/>
		</ID_16>
	</Messages>
	<!-- ********************************************************************************************************** -->
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
