<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Application">
			<section name="Settings" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="Database">
			<section name="Settings" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="SQL" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="Language_Syntax">
			<section name="SQL" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
		<sectionGroup name="Messages">
			<section name="ID_1" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_2" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_3" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_4" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_5" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_6" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_100" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_101" type="System.Configuration.NameValueSectionHandler, System"/>
			<section name="ID_102" type="System.Configuration.NameValueSectionHandler, System"/>
		</sectionGroup>
	</configSections>
	<Application>
		<Settings>
			<add key="Debug" value="True"/>
			<add key="LogFilePath" value="D:\Temp\"/>
			<add key="LogFileName" value="ApplicationLog"/>
			<add key="LogFileExtenison" value="log"/>
			<add key="ScriptObjectOwner" value="dbo"/>
		</Settings>
	</Application>
	<Database>
		<Settings>
			<add key="ServerName" value="ASSEMBLYSRV"/>
			<add key="UserID" value="sa"/>
			<add key="WindowsAuthentication" value="True"/>
		</Settings>
		<SQL>
			<add key="GetDatabases" value="
							SELECT name FROM master..sysdatabases 
							WHERE name not in ('master','model','msdb','tempdb','distribution')
							ORDER BY name
							"/>
			<add key="GetTablesInDB" value="
							SELECT 
								Owner = TABLE_SCHEMA, 
								TableName = TABLE_NAME 
							FROM 
								INFORMATION_SCHEMA.TABLES 
							WHERE 
								TABLE_TYPE = 'BASE TABLE' 
								AND OBJECTPROPERTY(OBJECT_ID(TABLE_NAME), 'IsMsShipped') = 0 
							ORDER BY 
								TABLE_SCHEMA, 
								TABLE_NAME				 
							"/>
			<add key="GetKeysForTable" value="
							SELECT  
								K.COLUMN_NAME 
							FROM  
								INFORMATION_SCHEMA.TABLE_CONSTRAINTS T 
								INNER JOIN 
								INFORMATION_SCHEMA.KEY_COLUMN_USAGE K 
								ON T.CONSTRAINT_NAME = K.CONSTRAINT_NAME  
							WHERE 
								T.CONSTRAINT_TYPE = 'PRIMARY KEY'  
								AND T.TABLE_NAME = '@1' 
							ORDER BY 
								T.TABLE_NAME, 
								K.ORDINAL_POSITION							 				 
							"/>
							
		</SQL>
	</Database>
	<Language_Syntax>
		<SQL>
			<!-- The number of Items to Load (for looping purpose) -->
			<add key="NumberOfKeyWords" value="7"/>

			<!-- Expression number 1-->
			<add key="RegularExpresstion_1" value="(\bselect|\bfrom|\bwhere|\btable|\bdrop|\bcreate|\bon|\bid|\bdelete|\binsert|\binto|\bprocedure|\bif|\bbegin|\bend|\bupdate|\belse|\bvalues)"/>
			<add key="HighlightColor_1" value="Blue"/>

			<!-- Expression number 2-->
			<add key="RegularExpresstion_2" value="(\bexists|\band|\bor|\(|\))"/>
			<add key="HighlightColor_2" value="Gray"/>

			<!-- Expression number 3-->
			<add key="RegularExpresstion_3" value="(\bobjectproperty|\bobject_id)"/>
			<add key="HighlightColor_3" value="Magenta"/>

			<!-- Expression number 4-->
			<add key="RegularExpresstion_4" value="\bsysobjects"/>
			<add key="HighlightColor_4" value="Green"/>

			<!-- Expression number 5-->
			<add key="RegularExpresstion_5" value="'[^']*'"/>
			<add key="HighlightColor_5" value="Red"/>

			<!-- Expression number 6-->
			<add key="RegularExpresstion_6" value="(--.*)"/>
			<add key="HighlightColor_6" value="LightSeaGreen"/>

			<!-- Expression number 7-->
			<add key="RegularExpresstion_7" value="/\*(([^*])|(\* [^/]))*\*/"/>
			<add key="HighlightColor_7" value="LightSeaGreen"/>

		</SQL>
	</Language_Syntax>
	<Messages>
		<!-- Use &#xD; for CrLf in a string -->
		<ID_1>
			<add key="MessageText" value="You do not have permission to run the system
Please contact your system administrator."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Application Error"/>
		</ID_1>
		<ID_2>
			<add key="MessageText" value="You are about to exit the application, are you sure?"/>
			<add key="MessageType" value="292"/>
			<add key="MessageTitle" value="Exit Confirmation"/>
		</ID_2>
		<ID_3>
			<add key="MessageText" value="File saved successfuly"/>
			<add key="MessageType" value="64"/>
			<add key="MessageTitle" value="Save File"/>
		</ID_3>
		<ID_4>
			<add key="MessageText" value="No tables selected!
please select the tables you wish to script and try again."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Scripting Error"/>
		</ID_4>
		<ID_5>
			<add key="MessageText" value="Error connecting to the database!
Please check the connection information and try again."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Initialization Error"/>
		</ID_5>
		<ID_6>
			<add key="MessageText" value="Error closing the connection to the Spec database!
Please contact your system administrator."/>
			<add key="MessageType" value="16"/>
			<add key="MessageTitle" value="Application Error"/>
		</ID_6>
		<ID_100>
			<add key="MessageText" value="Please specify the SQL Server name or IP to connect to"/>				  
		</ID_100>
		<ID_101>
			<add key="MessageText" value="Please specify the SQL Server user name"/>
		</ID_101>
		<ID_102>
			<add key="MessageText" value="Please specify the SQL Server password"/>
		</ID_102>
	</Messages>	
		
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
