<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Magma.WCF.Services.Opc.OpcService">
        <endpoint address="" binding="basicHttpBinding" contract="Magma.WCF.Services.Opc.IOpcService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="net.tcp://localhost:8736/Runtime/Magma.WCF.Services.Opc/OpcService/"
          binding="netTcpBinding" bindingConfiguration="" name="OpcTCP"
          contract="Magma.WCF.Services.Opc.IOpcService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.pipe://localhost/Runtime/Magma.WCF.Services.Opc/OpcService/" binding="netNamedPipeBinding"
          bindingConfiguration="" name="OpcNamedPipes" contract="Magma.WCF.Services.Opc.IOpcService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8735/Runtime/Magma.WCF.Services.Opc/OpcService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings>
    <add key="RetryCount" value="5"/>
    <add key="RetryInterval" value="1500"/>
    <add key="ProgID" value="Kepware.KEPServerEX.V6"/>
    <add key="ServerNode" value=""/>
    <add key="SimulateMode" value="NoSimulate"/>
    <!--
            NoSimulate,
            SimulateAll,
            SimulateWriteOnly
    -->
    <add key="EventSourceName" value="OpcWcfServiceHost"/>
    <add key="EventLogName" value="OPC WCF Service"/>
    <add key="LogSeverity" value="Debug"/>
    <!--
            Debug = 0,
            Information = 1,
            Warning =2,
            Error = 3,
            Off = 4
    -->
    
    <!-- Keep empty if local server-->
  </appSettings>
</configuration>
