<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBartenderService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="BartenderTCP" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Runtime/Magma.WCF.Services.Bartender/BartenderService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBartenderService"
                contract="BartenderService.IBartenderService" name="BasicHttpBinding_IBartenderService" />
            <endpoint address="net.tcp://localhost:8734/Runtime/Magma.WCF.Services.Bartender/BartenderService/"
                binding="netTcpBinding" bindingConfiguration="BartenderTCP"
                contract="BartenderService.IBartenderService" name="BartenderTCP">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>