<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assembly.Software.Loftware" version="1.1.1" targetFramework="net40" />
  <package id="Assembly.Software.Loftware.LLMControl" version="9.2.1" targetFramework="net40" />
  <package id="Assembly.Software.Utilities" version="1.0.1" targetFramework="net40" />
</packages>