<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="Settings">
			<section name="AppSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<Settings>
		<AppSettings>
			<add key="strIpAddess" value="127.0.0.1"/>
			<add key="strPort" value="2723"/>
			<add key="strPrinterName" value="Printer Name"/>
			<add key="strLabelName" value="Label Name (or) Full Path"/>
			<add key="strNumberOfCopies" value="0"/>
			<add key="strSerializedLabels" value="0"/>
			<add key="strLabelInputKeyValue" value=""/>
			<add key="strXmlFileFormat" value="1"/>
		</AppSettings>
	</Settings>
</configuration>
