<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILoftwareService" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="LoftwareNamedPipe" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="LoftwareTCP" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Runtime/Magma.WCF.Services.Loftware/LoftwareService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoftwareService"
                contract="LoftwareService.ILoftwareService" name="BasicHttpBinding_ILoftwareService" />
            <endpoint address="net.tcp://localhost:8734/Runtime/Magma.WCF.Services.Loftware/LoftwareService/"
                binding="netTcpBinding" bindingConfiguration="LoftwareTCP"
                contract="LoftwareService.ILoftwareService" name="LoftwareTCP">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Runtime/Magma.WCF.Services.Loftware/LoftwareService/"
                binding="netNamedPipeBinding" bindingConfiguration="LoftwareNamedPipe"
                contract="LoftwareService.ILoftwareService" name="LoftwareNamedPipe">
                <identity>
                    <userPrincipalName value="TCTDOMAIN0\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

</configuration>
