<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!--<section name="Extrusion" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>-->
		<section name="IncomingInspections" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		<section name="TurboChromeAdmin" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		<section name="APLPortal" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		<section name="VishayWebReports" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		<section name="FlocksTexWebReports" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
		<section name="RafaMixerWebReports" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
	</configSections>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.6">
			<assemblies>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<IncomingInspections>
		<add key="ServerName" value="IncomingInspectReport"/>
		<add key="DatabaseName" value="IncomingInspection_Test"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="mwtkfUgf9p4bw3gG8FH1EA=="/>
		<add key="ReportPath" value="D:\Assembly Solutions\Vishay\IncomingInspection\IncomingInspection\Reports\"/>
		<!--"D:\Team Projects\Vishay\VishayWebReports\VishayWebReports\ReportPages\CrystalReports\"-->
		<add key="PrinterName" value="PDFCreator"/>
	</IncomingInspections>
	<TurboChromeAdmin>
		<add key="ServerName" value="TurboChromeAdmin"/>
		<add key="DatabaseName" value="crdb"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="6ybKLo4ZqKYZcMjjHmUWMg=="/>
		<add key="ReportPath" value="D:\Assembly Solutions\Turbochrome\Meretz-Web-MES\Prod-Admin\Reports\"/>
		<add key="PrinterName" value="PDFCreator"/>
	</TurboChromeAdmin>
	<APLPortal>
		<add key="ServerName" value="AutoPIPsPacking"/>
		<add key="DatabaseName" value="AutoPIPsPacking"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="6ybKLo4ZqKYZcMjjHmUWMg=="/>
		<add key="ReportPath" value="D:\GIT\HP-Indigo\APL Portal\APL Portal\Reports\"/>
		<add key="PrinterName" value="PDFCreator"/>
	</APLPortal>
	<VishayWebReports>
		<add key="ServerName" value="VishayWebReports"/>
		<add key="DatabaseName" value="ProductionDB"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="6ybKLo4ZqKYZcMjjHmUWMg=="/>
		<add key="ReportPath" value="D:\GIT\Vishay-Dimona\Vishay.Web.Reports\Vishay.Web.Reports\Reports\"/>
		<add key="PrinterName" value="PDFCreator"/>
	</VishayWebReports>
	<FlocksTexWebReports>
		<add key="ServerName" value="FlockTex"/>
		<add key="DatabaseName" value="FlockTex"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="6ybKLo4ZqKYZcMjjHmUWMg=="/>
		<add key="ReportPath" value="D:\GIT\Flocktex\FlockTex\FlockTex\Reports\"/>
		<add key="PrinterName" value="PDFCreator"/>
	</FlocksTexWebReports>
	<RafaMixerWebReports>
		<add key="ServerName" value="Rafa_Mixer"/>
		<add key="DatabaseName" value="Rafa_Mixer"/>
		<add key="UserName" value="sa"/>
		<add key="Password" value="6ybKLo4ZqKYZcMjjHmUWMg=="/>
		<add key="ReportPath" value="D:\GIT\Rafa\Rafa\Rafa Portal\Reports\"/>
		<add key="PrinterName" value="PDFCreator"/>
	</RafaMixerWebReports>
	<appSettings>
		<add key="LogFileName" value="LogCrystalViewer" />
		<add key="LogFilePath" value="D:\Support\Logs\WebCrystalViewer\" />
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />
	</appSettings>
	<system.webServer>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>